/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Italic.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width : 100vw;
  color: rgb(237, 236, 236);
  background-color: rgb(20, 18, 11);
  font-family : CursorGothic;
}

header {
    width: 100%;
    height: 52px;
    padding: 0 calc(calc(10rem/16)*2);
}

nav {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

#logo{
    width: 95.75px;
    display: flex;
    gap: 5px;
}

#logo-svg{
    width: 19.76px;
    height: 22.5px;
}

#logo-brand{
    width: 73%;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 5.6px 15px;
    line-height: 21px;
    font-size: 0.875rem;
}

#buttons{
    width: 160.417px;
    height: 26.816px;
    display: flex;
    justify-content: space-between;
}

#btn-signin{
    font-size: 0.875rem;
    font-family : CursorGothic;
    background-color: transparent;
    border: none;
    border-radius: 3.40282e38px;
    padding: 5.5px 10.2px;
    color: #edecec;
    border : 1px solid color-mix(in oklab, #edecec 20%, transparent);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center
}

#btn-download{
    font-size: 0.875rem;
    font-family : CursorGothic;
    background-color: transparent;
    border: none;
    border-radius: 3.40282e38px;
    padding: 5.5px 10.2px;
    color: rgb(20, 18, 11);
    background-color: #edecec;
    border : 1px solid color-mix(in oklab, #edecec 20%, transparent);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center
}
