/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Italic.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width : 100vw;
  color: rgb(237, 236, 236);
  background-color: rgb(20, 18, 11);
  font-family : CursorGothic;
  overflow-x: hidden;
}

header {
    width: 100%;
    height: 52px;
    padding: 0 calc(calc(10rem/16)*2);
}

nav {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

#logo{
    width: 95.75px;
    display: flex;
    gap: 5px;
}

#logo-svg{
    width: 19.76px;
    height: 22.5px;
}

#logo-brand{
    width: 73%;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 5.6px 15px;
    line-height: 21px;
    font-size: 0.875rem;
}

#buttons{
    width: 160.417px;
    height: 26.816px;
    display: flex;
    justify-content: space-between;
}

#btn-signin{
    font-size: 0.875rem;
    font-family : CursorGothic;
    background-color: transparent;
    border: none;
    border-radius: 3.40282e38px;
    padding: 5.5px 10.2px;
    color: #edecec;
    border : 1px solid color-mix(in oklab, #edecec 20%, transparent);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#btn-download{
    font-size: 0.875rem;
    font-family : CursorGothic;
    background-color: transparent;
    border: none;
    border-radius: 3.40282e38px;
    padding: 5.5px 10.2px;
    color: rgb(20, 18, 11);
    background-color: #edecec;
    border : 1px solid color-mix(in oklab, #edecec 20%, transparent);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#hero{
    width: 100%;
    height: 1050px;
    padding: 112px 20px 67.2px 20px;
}

#hero-center{
    width: 1300px;
    height: 874px;
    margin: 0 auto;
}

#hero-text{
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -0.0125rem;
    margin-bottom: 22.4px;
}

#hero-btn{
    font-size: 1rem;
    font-family : CursorGothic;
    border: none;
    border-radius: 3.40282e38px;
    padding: 12.48px 21.6px 12.8px 21.6px;
    color: #14120b;
    background-color: #edecec;
    border : 1px solid #d7d6d5;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-center div{
    margin-bottom: 56px;
}

#brand-text{
    text-align: center;
    margin-bottom: 22.4px;
}

#brand-logos{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 100px;
    margin: 0 auto;
}

#brand-logo img{
    height: 2.5rem;
}

#brand-logo{
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    width: 138.75px;
    height: 100px;
    background-color: #1B1913;
    border-radius: 4px;
    padding: 0 7.5px;
}

#try {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#try-main{
    width: 810px;
    height: 152px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#try-main p{
    font-size: 4.5rem;
    line-height: 1.1rem;
    font-weight: 400;
    letter-spacing: -0.3rem;
    margin-bottom: 22.4px;
}

#footer {
    height: 435.15px;
    width: 100%;
    padding: 67px 20px 30px 20px;
    background-color: #1b1913;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer-links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 290px;
}

#copyright {
    display: flex;
    gap: 10px;
    margin: 0 290px;
}

#copyright p{
    font-size: 0.876rem;
    line-height: 1.5;
    color : color-mix(in oklab,#edecec/**/60%,transparent)
}

h4{
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    color: color-mix(in oklab,#edecec/**/60%,transparent);
    margin-bottom: 12px;
}

.footer-links-section ul li {
    width: 252px;
    height: 30px;
    padding: 4.66px 0;
    font-size: 0.875rem;

}

#highlights {
    width: 100%;
    height: 483px;
    margin-top: 67.2px;
    padding: 90px 20px;
    background-color: #1B1913;
    box-sizing: content-box;
}

#highlights-container {
    margin: 0 290px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#highlights-container > div > p{
    display: inline;
    position: sticky;
    top: 64px;
}

#blogs{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 620px;
}

#blog {
    width: 620px;
    height: 118px;
    padding: 13px 15px 15px 15px;
    background-color: #201e18;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

#blog #date{
    padding-top: 25px;
}

#blog h2{
    color: #edecec;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

#blog p {
    color : color-mix(in oklab,#edecec/**/60%,transparent);
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

#blogs > p{
    margin-top: 22.4px;
    display: inline-flex;
    color: #f54e00;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.005em;
	text-decoration: none;
    cursor: pointer;
}

h1,h2,h4,p,button,a{
    font-family: CursorGothic;
}

a, button {
    cursor: pointer;
}

#reviews{
    width: 100%;
    height: 665.5px;
    padding: 67.2px 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: content-box;
}

#reviews > h2 {
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

#reviews-wrapper {
    padding: 0 ;
    width: 1300px;
    height: 665px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;
}

.review{
    width: 391.6px;
    height: 244.7px;
    background-color: #1b1913;
    border-radius: 4px;
    padding: 15.9px 17.5px 17.5px 17.5px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #edecec;
}

#review-author {
    display: flex;
    gap: 12px;
}

#review-author-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#review-author-data > p{
    color : color-mix(in oklab,#edecec/**/60%,transparent);
}

#review-author-pic img{
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

#changelog{
    width: 1300px;
    height: 222.26px;
    margin: 0 auto;
}

#changelog h2{
    font-size: 1.625rem;
    color: #edecec;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 22.4px;
}

#log{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 282.5px;
    height: 85.067px;
    padding: 15.9px 17.5px 20px 17.5px;
    background-color: #1b1913;
    box-sizing: content-box;
}

#log-info{
    display: flex;
}

#log-info > #log-rating{
    font-size: 0.875rem;
    border: 1px solid color-mix(in oklab,#edecec 60%,transparent);
    padding: 3.92px 9.1px 4.06px 9.1px;
    letter-spacing: 0.01em;
    border-radius: 3.40282e38px;
    display: inline-flex;
    position: relative;
    top: 0.312rem;
    color: color-mix(in oklab,#edecec 60%,transparent);
}

#log-date{
    position: relative;
    top: 0.319rem;
    display: inline-flex;
    padding: 3.92px 9.1px 4.06px 9.1px;
    color: color-mix(in oklab,#edecec 60%,transparent);
}

#log-msg {
    color: #edecec;
    line-height: 1.5;
    font-size: 1rem;
    letter-spacing: 0.005em;
}

#logs {
    display: flex;
    gap: 10px;
}

#log-link {
    color: #f54e00;
    display: inline-flex;
    margin-top: calc(1rem*1.4);
}